<div id="Conocimientos">
    <div
        class="grid grid-cols-2 md:grid-cols-2 md:gap-0 gap-12 p-12 md:mt-12 md:mb-12 mt-16 mb-16 items-center"
    >
        <div class="max-w-xl p-6 rounded-lg">
            <h5 class="mb-1 text-2xl font-bold tracking-tight text-white">
                Conocimientos
            </h5>
            <p class="mb-6 font-normal text-gray-400">
                En el desarrollo de mis proyectos personales y en el ámbito
                laboral, he utilizado diversos lenguajes de programación y
                tecnologías. Me especializo en el desarrollo de software web,
                aplicando estas herramientas para crear soluciones eficientes y
                escalables.
            </p>
        </div>
        <div>
            <div class="html5">
                <button
                    data-popover-target="popover-default-html5"
                    type="button"
                    class="cursor-default"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="filterShadowWhite hover:scale-105 duration-500"
                        width="65"
                        height="65"
                        viewBox="0 0 128 128"
                        ><path
                            fill="#e44d26"
                            d="M19.037 113.876L9.032 1.661h109.936l-10.016 112.198l-45.019 12.48z"
                        ></path><path
                            fill="#f16529"
                            d="m64 116.8l36.378-10.086l8.559-95.878H64z"
                        ></path><path
                            fill="#ebebeb"
                            d="M64 52.455H45.788L44.53 38.361H64V24.599H29.489l.33 3.692l3.382 37.927H64zm0 35.743l-.061.017l-15.327-4.14l-.979-10.975H33.816l1.928 21.609l28.193 7.826l.063-.017z"
                        ></path><path
                            fill="#fff"
                            d="M63.952 52.455v13.763h16.947l-1.597 17.849l-15.35 4.143v14.319l28.215-7.82l.207-2.325l3.234-36.233l.335-3.696h-3.708zm0-27.856v13.762h33.244l.276-3.092l.628-6.978l.329-3.692z"
                        ></path></svg
                    >
                </button>

                <div
                    data-popover
                    id="popover-default-html5"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block w-64 text-sm transition-opacity duration-300 border rounded-lg shadow-sm opacity-0 text-gray-400 border-gray-600 bg-gray-800"
                >
                    <div
                        class="px-3 py-2 bg-gray-800 border-b rounded-t-lg border-gray-600 dk:bg-gray-700"
                    >
                        <h3 class="font-semibold text-white">HTML 5</h3>
                    </div>
                    <div class="px-3 py-2">
                        <p class="text-gray-300">
                            Lenguaje para estructurar contenido web con texto,
                            imágenes y multimedia.
                        </p>
                    </div>
                    <div data-popper-arrow></div>
                </div>
            </div>

            <div class="css3">
                <button
                    data-popover-target="popover-default-css3"
                    type="button"
                    class="cursor-default"
                >
                    <svg
                        class="filterShadowWhite hover:scale-105 duration-500"
                        xmlns="http://www.w3.org/2000/svg"
                        width="65"
                        viewBox="0 0 128 128"
                        ><path
                            fill="#1572b6"
                            d="M18.814 114.123L8.76 1.352h110.48l-10.064 112.754l-45.243 12.543z"
                        ></path><path
                            fill="#33a9dc"
                            d="m64.001 117.062l36.559-10.136l8.601-96.354h-45.16z"
                        ></path><path
                            fill="#fff"
                            d="M64.001 51.429h18.302l1.264-14.163H64.001V23.435h34.682l-.332 3.711l-3.4 38.114h-30.95z"
                        ></path><path
                            fill="#ebebeb"
                            d="m64.083 87.349l-.061.018l-15.403-4.159l-.985-11.031H33.752l1.937 21.717l28.331 7.863l.063-.018z"
                        ></path><path
                            fill="#fff"
                            d="m81.127 64.675l-1.666 18.522l-15.426 4.164v14.39l28.354-7.858l.208-2.337l2.406-26.881z"
                        ></path><path
                            fill="#ebebeb"
                            d="M64.048 23.435v13.831H30.64l-.277-3.108l-.63-7.012l-.331-3.711zm-.047 27.996v13.831H48.792l-.277-3.108l-.631-7.012l-.33-3.711z"
                        ></path></svg
                    >
                </button>

                <div
                    data-popover
                    id="popover-default-css3"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block w-64 text-sm transition-opacity duration-300 border rounded-lg shadow-sm opacity-0 text-gray-400 border-gray-600 bg-gray-800"
                >
                    <div
                        class="px-3 py-2 bg-gray-800 border-b rounded-t-lg border-gray-600 dk:bg-gray-700"
                    >
                        <h3 class="font-semibold text-white">CSS 3</h3>
                    </div>
                    <div class="px-3 py-2">
                        <p class="text-gray-300">
                            Estilo visual para el diseño web, define colores,
                            tipografías y disposición de elementos.
                        </p>
                    </div>
                    <div data-popper-arrow></div>
                </div>
            </div>

            <div class="html5">
                <button
                    data-popover-target="popover-default-js"
                    type="button"
                    class="cursor-default"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="60"
                        class="filterShadowWhite hover:scale-105 duration-500"
                        viewBox="0 0 256 256"
                        ><g fill="none"
                            ><rect
                                width="256"
                                height="256"
                                fill="#f0db4f"
                                rx="60"></rect><path
                                fill="#323330"
                                d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.889-3.092 12.889-15.12v-81.798h24.058v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.579c-17.357-7.388-28.871-16.668-28.871-36.258c0-18.044 13.748-31.792 35.229-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.731 12.029c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.139 14.778 14.608l6.014 2.577c20.449 8.765 31.963 17.699 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"
                            ></path></g
                        ></svg
                    >
                </button>

                <div
                    data-popover
                    id="popover-default-js"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block w-64 text-sm transition-opacity duration-300 border rounded-lg shadow-sm opacity-0 text-gray-400 border-gray-600 bg-gray-800"
                >
                    <div
                        class="px-3 py-2 bg-gray-800 border-b rounded-t-lg border-gray-600 dk:bg-gray-700"
                    >
                        <h3 class="font-semibold text-white">JavaScript</h3>
                    </div>
                    <div class="px-3 py-2">
                        <p class="text-gray-300">
                            Lenguaje de programación para crear interactividad y
                            dinámicas en sitios web.
                        </p>
                    </div>
                    <div data-popper-arrow></div>
                </div>
            </div>
        </div>
    </div>
</div>
