<section id="inicio" class="bg-[#000000ca] bg-blend-multiply">
    <div
        class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 blur-in-expand md:pt-0 pt-32"
    >
        <p
            class="mb-2 text-lg font-normal text-gray-300 lg:text-2xl sm:px-16 lg:px-48"
        >
            Hola mi nombre es
        </p>
        <h1
            class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-6xl"
        >
            FACUNDO SANCHEZ
        </h1>
        <p
            class="mb-8 text-lg font-normal text-gray-300 lg:text-3xl sm:px-16 lg:px-48"
        >
            Ingeniero en Sistemas
        </p>
    </div>
</section>

<style>
    .blur-in-expand {
        animation: blur-in-expand 0.6s linear both;
    }
    @keyframes blur-in-expand {
        0% {
            transform: scale(0);
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            filter: blur(0);
            opacity: 1;
        }
    }
    section {
        /* background-image: url(../imgs/fondo.jpg); */
        background-image: url(/fondo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }
</style>
