<nav
    class="bg-black fixed w-full z-20 top-0 start-0 shadow-lg shadow-[#a289d32d]"
>
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button
                data-collapse-toggle="navbar-sticky"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
                aria-controls="navbar-sticky"
                aria-expanded="false"
            >
                <span class="sr-only"></span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
        </div>
        <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 m-auto text-md"
            id="navbar-sticky"
        >
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-black border-gray-700"
            >
                <li>
                    <a
                        href="#inicio"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        Inicio
                    </a>
                </li>
                <li>
                    <a
                        href="#quiensoy"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        ¿Quién Soy?
                    </a>
                </li><li>
                    <a
                        href="#Conocimientos"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        Conocimientos
                    </a>
                </li><li>
                    <a
                        href="#misproyectos"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        Mis Proyectos
                    </a>
                </li><li>
                    <a
                        href="#experiencias"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        Experiencias
                    </a>
                </li><li>
                    <a
                        href="#contacto"
                        class="block py-2 px-3 text-white bg-[#1e1e1e] rounded md:bg-transparent md:p-0 md:mb-0 mb-1"
                        aria-current="page"
                    >
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    a:hover {
        /* text-shadow: 1px 1px white; */
        transition: all 0.25s ease-in-out;
        transform: scale(1.05);
        color: #a289d3;
    }
</style>
