<div
    class="grid grid-cols-1 md:grid-cols-2 md:gap-0 gap-12 p-12 md:mt-16 md:mb-16 mt-16 mb-16 items-center"
>
    <img
        class="rounded-full w-52 m-auto"
        src="./cara.jpg"
        alt="image description"
    />
    <div class="max-w-xl p-6 rounded-lg">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Sobre mí
        </h5>
        <p class="mb-3 font-normal text-gray-400">
            Soy un estudiante avanzado de Ingeniería en Sistemas con gran
            interés por la tecnología y sistemas informáticos. He llevado a cabo
            proyectos personales para aplicar conceptos teóricos y habilidades
            en entornos prácticos. Mi objetivo es ingresar al mundo laboral para
            ganar experiencia, aprender de profesionales en el campo y
            contribuir a equipos de desarrollo
        </p>
        <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
        >
            Descargar CV
        </a>
    </div>
</div>
