<div
    id="quiensoy"
    class="grid grid-cols-1 md:grid-cols-2 md:gap-0 gap-12 md:p-10 p-4 md:mt-12 md:mb-12 mt-12 mb-10 items-center"
>
    <img
        class="rounded-full w-52 m-auto boxShadowWhite hover:scale-105 duration-500"
        src="./cara.jpg"
        alt="image description"
    />
    <div class="max-w-xl p-6 rounded-lg">
        <h5 class="mb-1 text-2xl font-bold tracking-tight text-white">
            Sobre mí
        </h5>
        <p class="mb-6 font-normal text-gray-400">
            Tengo 22 años y soy de Villa María, Córdoba. Tengo preferencia por el desarrollo web y gran parte de mis conocimientos están enfocados en esa área. <br> Actualmente trabajo gestionando bases de datos y en desarrollo web, principalmente en FrontEnd. <br> A lo largo de mi formación, he realizado proyectos personales que me ayudaron a aplicar lo que aprendí en la teoría. Quiero seguir creciendo, aprendiendo nuevas tecnologías y ayudando a un equipo de trabajo.
        </p>
        <a
            class="inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-[#734d9a] hover:bg-[#613d89] duration-300"
            href="https://drive.google.com/file/d/11P4P8MQGtfZyPTVOG57rqkK6BKvKxhI2/view?usp=sharing"
            target="_blank"
        >
            Visualizar CV
        </a>
    </div>
</div>
