<div
    id="quiensoy"
    class="grid grid-cols-1 md:grid-cols-2 md:gap-0 gap-12 p-12 md:mt-12 md:mb-12 mt-16 mb-16 items-center"
>
    <img
        class="rounded-full w-52 m-auto shadow-lg shadow-[#a289d32d] hover:scale-105 duration-500"
        src="./cara.jpg"
        alt="image description"
    />
    <div class="max-w-xl p-6 rounded-lg">
        <h5 class="mb-1 text-2xl font-bold tracking-tight text-white">
            Sobre mí
        </h5>
        <p class="mb-6 font-normal text-gray-400">
            Soy un apasionado de la tecnología y la ingeniería de sistemas,
            actualmente cursando los últimos años de mi carrera y trabajando en
            el campo. A lo largo de mi formación, he llevado a cabo proyectos
            personales que me han permitido poner en práctica lo aprendido en
            entornos reales. Mi objetivo es seguir creciendo profesionalmente,
            aprendiendo de expertos y contribuyendo activamente a equipos de
            desarrollo.
        </p>
        <a
            class="inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none bg-[#734d9a] hover:bg-[#613d89] duration-300"
            href="https://drive.google.com/file/d/11P4P8MQGtfZyPTVOG57rqkK6BKvKxhI2/view?usp=sharing"
            target="_blank"
        >
            Visualizar CV
        </a>
    </div>
</div>
